/* main.css author team semicolon */

body{
	background: #1C1C28;
}

/* Navigation bar start */

.navigation{
	//margin: -10px -7px 0px -7px;
	margin-top: -10px;
	display: flex;
	justify-content: space-between;
	background: rgba(39, 71, 186,0.5);
	flex-wrap: wrap;
	box-shadow: 3px 7px 7px rgba(0,0,0,0.2);
}

.nav-logo img{
	margin: 2px 2px 2px 12px;
}

.nav-body {
	width: 52%;
}

.nav-body ul{
	transform: scale(0.9);
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 26px 0px 0px 0px;
}

.nav-body ul a{
	color: #F8ED17;
	text-decoration: blink;
	font-family: 'Audiowide';
	font-size: 26px;
	border: 1px solid rgba(39, 71, 186,0);
	border-radius: 18px;
	padding: 5px 20px 5px 20px;
	margin: 20px 0px 0px 0px;

	transition: color 0.5s , border 0.5s;
}

.nav-body ul a:hover{
	color: #FFF;
	border: 1px solid #F8ED17;
	transition: color 0.3s , border 0.3s;
	
}

.nav-body ul li:active{
	transition: transform 0.3s;
}

.nav-body ul li:active{
	transform: scale(0.8);
	transition: transform 0.3s;
}


/*Active link*/

.nav-body .active a{
	color: #FFF;
	border: 1px solid #F8ED17;
}

/* Navigation bar end */




/*body top start */

.body-top{

	background-image: url("../image/banner.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;

	 width: 100%;
	 height: 64vh;
	 position: relative;
	 margin-top: -75px;

	 display: flex;
	 justify-content: space-around;
	 align-items: center;
	 
}

.body-top .heading{
	color: #FFF;
	font-size: 48px;
	font-family: 'Audiowide';
}

.upcoming  .title div, .live  .title div{
	color: #FFF;
	font-size: 28px;
	font-family: 'Audiowide';
	border: 1px solid #F8ED17;
	border-radius: 15px;
	width: 260px;
	padding: 7px;
	text-align: center;
	margin-bottom: 10px;
}

.upcoming table, .live table{
	margin-top: 120px;
	width: 270px;
	color: #FFF;
	word-wrap: break-word;
	font-family: 'Lemon';
}

.upcoming table .vs, .live table .vs{
	width: 50px;
	font-size: 26px;
	font-family: 'Lemon';
}


.upcoming .time-desc{
	margin-top: 20px;
	font-family: 'Scope One';
}

.live .score-desc{
	margin-top: 20px;
	font-family: 'Scope One';
	color: #F8ED17;
}

.heading-btn {
	/*position: absolute;*/
	left: 2rem;
	bottom: 2rem;
	color: #1C1C28;
	background: #F8ED17;
	border: 1px solid #F8ED17;
	border-radius: 0.7rem;
	padding: 0.8rem 3rem;
	font-size: 20px;
	cursor: pointer;
	font-family: 'Audiowide';
}

.heading-btn:hover {
	color: #F8ED17;
	background: none;
	border: 1px solid #F8ED17;
}

/*body top end */


/*intro start*/
	
.intro p{
	color: #FFF;
	font-size: 24px;
	font-family: 'Scope One';
	padding: 30PX 30PX 30PX 30PX ; 
	text-align: justify;
}

/*intro end*/

/* content start */

.content {
	padding: 1rem 8rem 1rem 8rem;
}

.filter-div {
	color: #FFFFFF;
	font-family: Stoke;
	font-size: 1.2rem;
	margin: 2rem 0 3rem 0;
}

.filter-div select {
	background: #28293D;
	border: none;
	font-size: 1rem;
	padding: 0.3rem 1rem 0.3rem 0.3rem;
	color: #F8ED17;
	margin-right: 3rem;
}

.content .h2 {
	color: #FFFFFF;
	text-align: center;
}

.won-div-left {
	background-image: linear-gradient(to right, rgba(248, 237, 23, 0.5), #28293D, #28293D);
	padding: 1rem;
	border-radius: 2rem;
}

.won-div-right {
	background-image: linear-gradient(to left, rgba(248, 237, 23, 0.5), #28293D, #28293D);
	padding: 1rem;
	border-radius: 2rem;
}

.item-div {
	background: #28293D;
	border-radius: 2rem;
	margin-top: 2rem;
	box-shadow: 0 0.2rem 0.5rem 0 #1C1C28;
}

.item-div h1 {
	color: #FFFFFF;
	font-family: Stoke;
}

.item-div table {
	width: 100%;
	height: 100px;
}

.team-logo {
	width: 10rem;
}

.team-logo img {
	width: 10rem;
}

.left-align {
	text-align: left;
	color: #FFFFFF;
	font-family: Stoke;
	font-size: 1.2rem;
}

.center-align {
	text-align: center;
	color: #F8ED17;
	font-family: Stoke;
	font-size: 2rem;
}

.right-align {
	text-align: right;
	color: #FFFFFF;
	font-family: Stoke;
	font-size: 1.3rem;
}

.bottom-align {
	text-align: center;
	color: #FFFFFF;
	font-family: Stoke;
	font-size: 1.4rem;
	border-top: 3px solid #FFFFFF;
}

.div-active:active, .div-hover:hover {
	background: #242436;
	cursor: pointer;
}

.team-cap {
	text-align: left;
	color: #F8ED17;
	font-family: Stoke;
	font-size: 1.5rem;
}

.collapse-content {
	background: #28293D;
	padding: 4rem 5rem 2rem 5rem;
	margin-top: -3rem;
	position: relative;
	z-index: -1;
	/*display: none;*/
}

.collapse-content table {
	width: 100%;
	text-align: left;
	font-family: Stoke;
	font-size: 1.2rem;
	color: #FFFFFF;
}

.collapse-content table tr td {
	padding-top: 1rem;
}

.points-div {
	background: #28293D;
	border-radius: 2rem;
	margin-top: 2rem;
	padding: 2rem;
}

.points-div table {
	width: 100%;
	border-color: darkgray;
	border-collapse: collapse;
}

.points-div table th {
	color: #F8ED17;
	padding: 0.5rem;
}

.points-div table td {
	color: #FFFFFF;
	padding: 0.5rem;
}

/* content start */


/* about start */
.about-container-tbl{
	margin-top: 120px;
}

.about-container-tbl .about-title{
	color: #FFF;
	font-size: 26px;
	font-family: 'Audiowide';
	padding-right: 20px;
	padding-left: 20px;
}


/*
.about-container-tbl .td_border{
	border-right: 1px solid #FFF;
}

*/
/* about end*/


/* footer bar start */

.footer{
	background: #28293D;
	color: #FFF;
	width: 100%;
}


.footer .social-link ul{     
	list-style-type: none;     
	display: flex;
	justify-content: center;     
	padding-left: 0px;     
	padding-top: 15px;

}

.footer .social-link ul li{
	padding: 0rem 0.5rem 0rem 0.5rem;

}

.footer .social-link ul a{
	color: #FFFFFF;
	text-decoration: blink;
}

.footer .copy{
	text-align: center;
	font-family: Ubuntu;
	padding-bottom: 5px;
}

/* footer bar end */