/* main.css author team semicolon */

body{
	background: #000;
}

/* Navigation bar start */

.navigation{
	display: flex;
	justify-content: space-between;
	background: #2747BA;
	color: #FFF;
}

.nav-logo img{

}


/* Navigation bar end */