/* main.css author team semicolon */

body{
	background: #000;
}

/* Navigation bar start */

.navigation{
	margin: -10px -10px 0px -10px;
	display: flex;
	justify-content: space-between;
	background: rgba(39, 71, 186,0.5);
	color: #FFF;
	flex-wrap: wrap;
	box-shadow: 3px 7px 7px #000;
}

.nav-logo img{
	margin: 2px 2px 2px 12px;
}

.nav-body {
	width: 60%;
}

.nav-body ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 26px 0px 0px 0px;

}

.nav-body ul a{
	color: #F8ED17;
	text-decoration: blink;
	font-size: 26px;
	border: 1px solid #F8ED17;
	border-radius: 18px;
	padding: 5px 20px 5px 20px;
	margin: 20px 0px 0px 0px;
}

.nav-body ul a:hover{
	color: #FFF;
	
}


/* Navigation bar end */